@import url(./reset.css);

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%)

}
@font-face {
    font-family: 'fraunces';
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: 'montserrat';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
body{
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
main{
    display: flex;
}
.image{
    width: 100%;
    max-width: 20rem;
    border-radius: 10px 0px 0px 10px;
}
.mobile{
    display: none;
}
.info{
    background-color: white;
    border-radius: 0 10px 10px 0;
    width: 100%;
    max-width: 20rem;
    padding: 2rem 2rem;
    font-family: 'fraunces';
    p{
        font-family: 'montserrat';
        font-weight: 500;
        color: gray;
        font-size: 15px;
        line-height: 1.5rem;
    }
    .heading{
        font-variant-caps:all-petite-caps;
        letter-spacing: 0.4rem;
        margin: 0;
    }
    h1{
        font-size: 2.2rem;
        line-height: 2.1rem;
        margin:1.8rem 0;
    }
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    h1{
        color: var(--Dark-cyan);
    }
    s{
        font-family: 'montserrat';
        font-size:14px;
        color: var(--Dark-grayish-blue);
        font-weight: 500
    }
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: var(--Dark-cyan);
    width: 100%;
    border-radius: 8px;
    height: 3rem;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 14px
}
.button:hover{
    background-color: var(--Very-dark-blue);
    cursor:pointer;
}
footer{
    position: absolute;
    top: 97%;
}
@media screen and (max-width: 575px) {
    main{
        flex-direction: column;
        width: 100%;
        padding: 2.5rem 1.4rem;
    }
    .image{
        display: none;
    }
    .mobile{
        display: flex;
        border-radius: 10px 10px 0 0;
        width: 30rem;
    }
    .info{
        border-radius: 0 0 10px 10px;
        width: 100%;
        max-width: 30rem;
        padding: 2rem 2.2rem;
        font-family: 'fraunces';
        p{
            font-family: 'montserrat';
            font-weight: 500;
            color: gray;
            font-size: 1.1rem;
            line-height: 1.5rem;
            padding: 0 0 1rem;
        }
        .heading{
            font-variant-caps:all-petite-caps;
            letter-spacing: 0.4rem;
        }
        h1{
            font-size: 2.3rem;
            line-height: 2.2rem;
            margin:1rem 0;
        }
    }
    .price{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1.3rem;
        padding: 0 0 0.5rem;
        h1{
            color: var(--Dark-cyan);
        }
        s{
            font-family: 'montserrat';
            font-size:14px;
            color: var(--Dark-grayish-blue);
            font-weight: 500
        }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: white;
        background-color: var(--Dark-cyan);
        width: 100%;
        border-radius: 8px;
        height: 3.4rem;
        font-family: 'montserrat';
        font-weight: 700;
        font-size: 14px
    }
}